html {
	line-height: 1.7;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

body {
	margin: 0;
    padding: 0;
    height: 100%;
    background-color: gray;
    
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 52px; 
    font-family: Ink Free;
    text-align: center;
}
.main-area {
    align-items: center;
    max-width: 75%;
    height: 570px;
    margin: 90px auto 0 auto;
}

.container {
    padding: 0 105px;
    height: inherit;
    display: flex;
    justify-content: center;
}
.container img{
    width: 150px;
}
.Oct_pic , .Dec_pic{
    margin-top: 100px;
}
.container figure:hover img{
    filter: drop-shadow(0 0 0.75rem white);
}
