.row {
  width: 100%;
}

.image6{
  margin-left: 30px;
  width: 200px;
  transform: rotate(8deg);
}
.image7{
  margin-top: 10px;
  width: 200px;
  transform: rotate(350deg);
}
.image8{
  width: 200px; 
  transform: rotate(8deg);
}

@media (orientation: landscape) and (max-width: 1024px) {
  .image6{
    margin-left: 30px;
    width: 150px;
    transform: rotate(8deg);
  }
  .image7{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    transform: rotate(350deg);
  }
  .image8{
    margin-left: 30px;
    width: 150px; 
    transform: rotate(8deg);
  }
  .text {
    font-size: 13.5px;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .text {
    font-size: 12.2px;
  }
}

.hoverDes{
  display: flex;
  justify-content: space-around;
}

.hoverDes figure:hover img{
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}