/*@media (max-width: 800px){
    body{
        height: 100vw;
        transform: rotate(90deg);
    }
}*/

.image-box{
    position: relative;
    display: flex;  
    height: 250px;
    width: 820px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Nov/blue.png");
    background-size: cover;
    background-repeat: no-repeat; 
}

.second{
    width: inherit;
    margin: 0 auto;
}

.image1 {
    width: 200px;
    transform: rotate(5deg);
}

.image2{
    width: 200px;
    height: 150px;
    margin: 18px 20px 0 20px;
}


.image3{
    width: 200px;
    height: 150px;
    transform: rotate(355deg);
}

@media (orientation: landscape) and (max-width: 1024px) {
    .image-box{
        height: 160px;
        width: 560px;
    }

    .image1 {
        width: 140px;
        transform: rotate(5deg);
    }
    
    .image2{
        width: 140px;
        height: 120px;
        margin: 18px 20px 0 20px;
    }
    
    
    .image3{
        width: 140px;
        height: 120px;
        transform: rotate(355deg);
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .image-box{
        height: 190px;
        width: 620px;
    }

    .image1 {
        width: 130px;
        transform: rotate(5deg);
    }
    
    .image2{
        width: 130px;
        height: 130px;
        margin: 18px 20px 0 20px;
    }
    
    .image3{
        width: 130px;
        height: 130px;
        transform: rotate(355deg);
    }

    .text {
        font-size: 13.5px;
    }
}

@media (orientation: landscape) and (max-width: 700px) {
    .image-box{
        height: 170px;
        width: 550px;
        margin-top: 10px;
    }

    .image1 {
        width: 110px;
        transform: rotate(5deg);
    }
    
    .image2{
        width: 110px;
        height: 120px;
        margin: 18px 20px 0 20px;
    }
    
    .image3{
        width: 110px;
        height: 120px;
        transform: rotate(355deg);
    }

    .text {
        font-size: 12px;
    }
}