@font-face {
    font-family: "Ink Free";
    src: url("fonts/Ink Free.ttf") format("truetype");
    font-weight: normal;
	font-style: normal;
}

html {
	line-height: 1.7;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

body {
	margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../img/1118.png);
    
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 80px; 
    font-family: Ink Free;
    text-align: center;
}
.main-area {
    align-items: center;
    max-width: 75%;
    height: 570px;
    margin: 30px auto 0 auto;
}
.container {
    padding: 45px 105px;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.box{
    transition: .5s ease;
    opacity: 0;
    background-color: rgb(174, 223, 243);
    width: 150px;
    height: 150px;
    border-style: dashed;
    border-color: black;
    border-width: 2px 2px 2px 2px;
    border-radius: 50%;
}

.container figure{
    width: 400px;
    height: 407px;
}
.Fiji_pic{
    background-image: url(../img/Kiribati-3.jpg);
}
.Kiribati_pic{
    background-image: url(../img/Fiji-3.jpg);
}

.text {
    font-family: "Ink Free";
    color: black;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding-top: 35%;
}

.container figure:hover {
    opacity: 0.3;
}
.container figure:hover .box{
    opacity: 1;
}