.main-text {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}

.main__aside {
    margin-top: 15px;
}

.main__pic {
    margin-right: 10px;
}