@font-face {
    font-family: "Ink Free";
    src: url("fonts/Ink Free.ttf") format("truetype");
    font-weight: normal;
	font-style: normal;
}

html {
	line-height: 1.7;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
}

body {
	margin: 0;
    padding: 0;
    background-image: url("../img/final.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-area {
    display: flex;
    align-items: center;
    max-width: 60%;
    margin: 14% 0;
    margin-left: 21%;
}

.container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Ink Free";
    font-size: 20px;
}

.button_back {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 21.7px 12.5px 0;
    border-color: transparent rgba(122, 120, 121, 0.5) transparent transparent;
    visibility: hidden;
}

.button_next {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 21.7px;
    border-color: transparent transparent transparent rgba(122, 120, 121, 0.5);
}

.button_back:hover, .button_next:hover {
    position: relative;
    border-style: solid;
    border-width: 12.5px 0 12.5px 21.7px;
    border-color: transparent transparent transparent rgba(122, 120, 121, 1);
}

.button_back:hover:before, .button_next:hover:before {
    position: absolute;
    content: '';
    top: -20px;
    left: -34px;
    width: 40px;
    height: 40px;
    border-style: dotted;
    border-width: 1.8px 1.8px 1.8px 1.8px;
    border-color:  rgba(122, 120, 121, 0.5);
    border-radius: 50%;
}